<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Caterorias</li>
  </ol>
</nav>

<div class="rounded shadow-lg p-3">

  <!-- page title -->
  <h1>CATEGORIAS</h1>
  <h4>Lista de todas as categorias dísponiveis</h4>

  <!-- new category container -->
  <div class="new-category-container card shadow rounded">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-10">
          <input type="text" [(ngModel)]="newCategory" class="form-control" placeholder="Categoria">
        </div>
        <div class="form-group col-2 text-right">
          <button type="submit" class="btn btn-dark" (click)="createCategory()">+ Cadastrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- category list -->
  <div class="row">
    <div class="col-md-6 mt-4" *ngFor="let category of categories">
      <div class="card category-container">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <img class="img-category" src="{{ category.img }}" *ngIf="category.img" alt="" />
              <img class="img-category" src="{{ imagePath }}" *ngIf="!category.img" alt="" />
            </div>
            <div class="col-md-9">
              <h5 class="card-title">
                {{ category.name }}
              </h5>
              <p class="card-text">
                {{ category.description }}
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col">
              <a href="#" class="btn btn-sn btn-dark">Edit</a>
              <button class="btn btn-sn btn-danger ml-2">Excluir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
