<Page>
    <ActionBar>
        <GridLayout rows="*, *, *">
            <Button row="0" class="show-drawer-btn" text="☰"></Button>

            <Label row="1" class="page-title" text="Gerenciar categorias"></Label>
            
            <Label row="2" class="page-subtitle" text="Lista de categorias disponíveis" ></Label>
        </GridLayout>
    </ActionBar>

    <StackLayout>

        <!-- new category container -->
        <GridLayout class="new-category-container" columns="*, auto">
            <TextField [(ngModel)]="newCategory" col="0" hint="Nome da categoria"></TextField>
    
            <Button col="1" text="+" (tap)="createCategory()"></Button>
        </GridLayout>

        <!-- category list -->
        <ListView [items]="categories">
            <ng-template let-category="item">
                <GridLayout class="category-container" columns="auto, *, auto">
                    <Image col="0" src="~/{{category.img}}" *ngIf="category.img"></Image>
                    <Image col="0" src="~/{{imagePath}}" *ngIf="!category.img"></Image>
                    <StackLayout col="1">
                        <Label class="category-name" [text]="category.name" textWrap="true"></Label>
                        <Label class="category-description" [text]="category.description" textWrap="true"></Label>
                    </StackLayout>
                    <Label class="delete-category-btn" col="2" text="❌"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</Page>